body {
	background-color: #fff; 
	}
	
section {
	max-width: 960px; 
	margin-left: auto; 
	margin-right: auto;
	}
	
p {
	background: #E6E6E6; 
	opacity: 0.8; 
	font-size: 22px; 
	padding-left: 10px;
	color: #000000;
	
	}
	
h1 {
	background: #5f84f2; 
	color: #fff;
	border-radius: 10px; 
	text-transform: uppercase; 
	font-weight:900; 
	font-size: 32px; 
	padding-left: 20px;
	padding-top: 30px; 
	padding-bottom: 30px; 
	border-radius: 10px;
		}
	
.address {
	font-weight:bold; 
	text-transform: uppercase; 
	font-size: 20px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	}
	
section {
	background-color: white; 
	border-radius: 10px;
	}