html, body, #map-canvas {
			height: 100%;
			margin: 0;
			padding: 0;
			width: 100%;
			font-family: 'Raleway', sans-serif;
		}
		.insta-photo {
			line-height: 0;	
			overflow: hidden;
		}
		.user-info {
			background: rgba(0, 0, 0, .6);
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			bottom: 0;
			color: white;
			height: 50px;
			padding: 5px;
			position: absolute;
			width: 100%;
		}
		.user-info a {
			color: inherit;
			display: block;
			height: 100%;
			text-decoration: inherit;
		}
		.user-info .picture {
			border-radius: 100%;
			float: right;
			height: 100%;
		}
		.user-info .name {
			font-size: 20px;
			height: 100px;
			//line-height: 40px;
			font-family: 'Raleway', sans-serif;
			color: red;
		}
