body {
	background-image: url(sam&ball.jpg);
}

.main {
	padding: 1.5%;
	width: 80%;
	margin: auto;
	background-color: snow;
	opacity: 0.8;
	font: 
}

h1 {
	font-family: 'Pacifico', cursive;
}

p {
font-family: 'Arimo', sans-serif;
}