body{
margin-left:auto;
margin-right: auto;
text-align: center;
margin-bottom:50px;
}


h1{
color:#c52033;
/*font-family: 'Amatic SC', cursive;*/
font-family: 'Pacifico', cursive;

font-size: 55px;
font-weight: lighter;
margin-bottom:10px;
}

h3{
color:#c52033;
font-family: 'Amatic SC', cursive;
font-size: 55px;
margin-top:10px;

}

.instaphoto{
width: 200px;
margin-top:60px;
margin-left: 40px;
transition: all 1s ease 0s;
border-radius:15px;
}

.instagram-box{
display:inline;	
width: 300px;

}

.instaphoto:hover{
transform: scale(1.2);
/*border-style:solid;
border-color:#ffffff;
border-width:3px;*/
-webkit-box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    8px 8px 15px 0px rgba(50, 50, 50, 0.75);
box-shadow:         8px 8px 15px 0px rgba(50, 50, 50, 0.75);

}