html{
    background-color: #999;
}
body{
	width:960px;
	margin: auto;
	padding-top: 20px;
    background-color: #999;
}
h1{
	text-align: center;
}
.insta-photo{
	width:800px;
	margin-left: 80px;
	margin-right: 80px;
	background-color:#FFF;
	border: 15px;
	padding-bottom:40px;
	border-style:solid;
	border-color: #FFF;
	box-shadow: 2px;
	margin:20px;
}